// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
a {
  color: black;
}
a:hover {
  color: white;
}
// body {
//   background-image: url("https://images.unsplash.com/photo-1517040916461-578c95ab2e0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
// }

